<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.m2e.Maven2LaunchConfigurationType">
    <booleanAttribute key="M2_BATCH" value="false"/>
    <stringAttribute key="M2_GOALS" value="-U archetype:generate"/>
    <listAttribute key="M2_PROPERTIES">
        <listEntry value="archetypeGroupId=com.sun.jersey.archetypes"/>
        <listEntry value="archetypeArtifactId=jersey-quickstart-webapp"/>
        <listEntry value="archetypeVersion=1.19.4"/>
        <listEntry value="groupId=Com.karthik"/>
        <listEntry value="artifactId=Test_RestJersey"/>
        <listEntry value="version=0.0.1-SNAPSHOT"/>
        <listEntry value="package=Com.karthik.Test_RestJersey"/>
        <listEntry value="outputDirectory=C:\Users\karth\eclipse-workspace"/>
    </listAttribute>
    <booleanAttribute key="M2_SAVE_BEFORE_LAUNCH" value="false"/>
    <booleanAttribute key="org.eclipse.debug.ui.private" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="C:\Users\karth\AppData\Local\Temp\m2e-archetypeGenerator4224715676691795474"/>
</launchConfiguration>
